%social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
%social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}
%title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 50px;
}
%header-contacts {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--animation);
}