
.feature {
    display: flex;
    gap: 30px;


    @media screen and (max-width: 1199px) {  
            flex-wrap: wrap;
        }
}
.feature__item {
    @media screen and (max-width: 767px) {
            width: 100%;
            display: block;
            margin-bottom: 30px;
        }

    @media screen and (min-width: 768px) {
           flex-basis: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
}

.feature__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--button-portfolio);

    @media screen and (max-width: 767px){
        max-width: 100%;
    }

    @media screen and (min-width: 768px){
        width: 354px;
    }

    @media screen and (min-width: 1200px){
        width: 270px;
    }
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    width: 100%;
    @media screen and (max-width:767px){
       text-align: center;
    }
}
.feature__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
    width: 100%;
}

