.footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container {
    display: flex;
    align-items: baseline;

    @media screen and (max-width: 767px){
        flex-direction: column;
        row-gap: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 165px;
        row-gap: 60px;
    }
}
.footer__data {
    @media screen and (max-width: 767px) {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 76px;
    }
    @media screen and (min-width: 1200px){
        margin-right: 70px;
    }
}
.footer-list {
    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 1200px){
        width: 231px;
    } 
}
.footer-list__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    @media screen and (max-width: 1199px){
       margin-bottom: 8px; 
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 9px;
    }
}
.footer-list__contacts {
    @media screen and (max-width: 1199px) {
            margin-bottom: 8px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
}
.footer-list__link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-footer-color);
    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--accent-color);
    }
}
.footer-box-call{

    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;

    @media screen and (max-width: 1199px){
     text-align: center;
    }
}
