.portfolio-container {
    @media screen and (max-width: 1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.portfolio-filter__list {
    display: flex;

    @media screen and (max-width: 767px){
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
        margin-bottom: 40px;
    }


    @media screen and (min-width: 768px){
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px){
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }
   
}
.portfolio-btn {
    background-color: var(--button-portfolio);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: inherit;
    display: inline-block;
    padding: 6px 22px;
    cursor: pointer;
    border-radius: 4px;
    border: var(--button-portfolio);
    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}
.portfolio-btn--current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}