.modal-form {
    text-align: center;
}
.modal-form__call {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;

    @media screen and (max-width: 1200px){
        line-height: 1.5;
    }
}
.modal__series {
    margin-bottom: 20px;
}
.modal-group--box{
    position: relative;
    margin-bottom: 28px;
    margin-top: 28px;
}
.modal-feedback--box {
    position: relative;
}
.modal-group__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--additional-text-color);
    position: absolute;
    top: -18px;
    left: 0px;
    margin-bottom: 4px;
}
.modal-group__input {
    height: 40px;
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    outline: transparent;
    transition: border var(--animation);

&:hover,
&:focus {
    border: 1px solid var(--accent-color);
    }
}
.modal-group__input:hover+.modal-group__icons .modal-group__icon,
.modal-group__input:focus+.modal-group__icons .modal-group__icon {
    fill: var(--accent-color);
}
.modal-group__icons {
    position: absolute;
    top: 11px;
    left: 12px;
}
.modal-feedback__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--additional-text-color);
    position: absolute;
    top: -18px;
    left: 0px;
    margin-bottom: 4px;
}
.modal-feedback__textarea {
    height: 40px;
    padding: 12px 16px;
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    outline: transparent;
    transition: border var(--animation);

&:hover,
&:focus {
    border: 1px solid var(--accent-color);
        }
}
textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox--label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}
.modal-checkbox__span {
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
    user-select: none;
    @media screen and (max-width: 1199px){
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.71;
    }
    @media screen and (max-width: 431px) {
        font-size: 10px;
     }
}

.modal-checkbox__link {
    color: var(--accent-color);
    text-underline-position: under;
}
.modal-checkbox__input:focus+.modal-checkbox__icon .modal-checkbox__uncheck {
    opacity: 0;
}
.modal-checkbox__input:focus+.modal-checkbox__icon .modal-checkbox__check {
    opacity: 0;
}
.modal-checkbox__input:focus+.modal-checkbox__icon {
    border: 1px solid var(--accent-color);
}
.modal-checkbox__input:checked+.modal-checkbox__icon .modal-checkbox__uncheck {
    opacity: 0;
}
.modal-checkbox__uncheck {
    transition: opacity var(--animation);
}
.modal-checkbox__input:checked+.modal-checkbox__icon .modal-checkbox__check {
    opacity: 1;
}
.modal-checkbox__input:checked+.modal-checkbox__icon {
    background-color: var(--accent-color);
}
.modal-checkbox__icon {
    transition: background-color var(--animation), border var(--animation);
}
.modal-checkbox__check {
    opacity: 0;
    color: var(--accent-color);
    transition: opacity var(--animation);
}
.modal-group__icon {
    transition: fill var(--animation);
}
.modal-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 10px 52px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--animation);
    border: none;

&:hover,
&:focus {
    background-color: var(--accent-bgr-color);
    }
}
